@font-face {
    font-family: KhmerFont;
    src: url("font/Kh\ Baphnom\ Limon\ S1.ttf") format("truetype"); /* Replace "KhmerFont.ttf" with the actual font file name and path */
}
@font-face {
    font-family: KhmerTitle;
    src: url("font/Kh\ Ang\ ChittBous.ttf") format("truetype");
}
@font-face {
    font-family: KhKoulen;
    src: url("font/Koulen.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: KhmerFont;
}
.icon{
    font-family: KhmerTitle;
}
.title_text{
    font-family: KhmerTitle;
}
.title_bar {
    background-color: #EA7B5F;
    box-shadow: 0px 3px 0.6px #694238(128, 128, 128, 0.478);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family:KhmerTitle;
    position: sticky;
    top:0;
    z-index: 9999;
}
.menu_button {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.title_text {
    color: white;
    font-family: KhmerTitle;
    font-size: 35px;
}
.sliding_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #f1f1f1;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
    z-index: 100000;
}
.menu_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
.sliding_menu.show_menu .menu_cover {
    display: block;
}
.menu_image {
    width: 100%;
}
.menu_image img {
    width: 100%;
    height: auto;
}
.sliding_menu ul {
    list-style-type:none;
    padding: 20px;
}
.sliding_menu ul li {
    margin-bottom: 20px;
    color: #EA7B5F;
    font-size: 18px;
}
.sliding_menu ul li a{
    text-decoration: none;
    font-family:KhKoulen;
    color:#EA7B5F;
}
.sliding_menu ul li p{
    font-family: KhmerFont;
}
.show_menu {
    transform: translateX(0);
}
@media only screen and (max-width: 600px) {
    .book-library {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media only screen and (max-width: 600px) {
    .title_text {
        font-size: 25px;
    }
    .menu_button {
        font-size: 14px;
    }
    .sliding_menu {
        width: 200px;
    }
    .sliding_menu ul li {
        font-size: 16px;
    }
}
/* Book item */
/* Book item */
.book-library {
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.book-item {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    margin: 10px;
    width: 100%;
    max-width: 400px;
}

.book-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.book-item:hover img {
    transform: scale(1.1);
}

.book-details {
    /* position: absolute; */
    /* bottom: 0; */
    left: 0;
    width: 100%;
    height: auto;
    padding: 5px;
    background-color: #EA7B5F;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}

.book-title {
    margin: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: white;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 2; 
}

@media only screen and (min-width: 600px) {
    .book-library {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/* Popup Box */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }
  
  .popup-content {
    position: relative;
    max-width: 95%;
    max-height: 95%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .popup-header {
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  .popup-title {
    margin: 0;
    font-size: 20px;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .popup-body {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  
  .pdf-iframe {
    width: 100%;
    height: 100%;
  }
